@font-face {
    font-family: "Source-Sans-Pro-Light";
    src: url("../public/fonts/SourceSansPro/SourceSansPro-Light.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Source-Sans-Pro";
    src: url("../public/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Source-Sans-Pro-SemiBold";
    src: url("../public/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Source-Sans-Pro-Bold";
    src: url("../public/fonts/SourceSansPro/SourceSansPro-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}