html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

footer,
header,
menu,
nav,
section {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	outline: none;
}

ol,
ul {
	list-style: none;
}
