@import './fonts.scss';

// fonts
$font-family-light: 'Source-Sans-Pro-Light';
$font-family: 'Source-Sans-Pro';
$font-family-semibold: 'Source-Sans-Pro-SemiBold';
$font-family-bold: 'Source-Sans-Pro-Bold';

// colors
$white: #fff;
$dirty-white: #efefef;
$black: #16181b;
$light-blue: #01b4e4;
$dark-blue: #032541;
$green: #01D277;
$light-green: #1ed5a9;

// colors with opacity
$black-70: rgba(22, 24, 27, 0.7);

// breakpoints
$mobile-s: 360px;
$mobile-m: 576px;
$mobile-l: 767px;
$tablet-s: 768px;
$tablet-m: 991px;
$tablet-l: 1023px;
$desktop-s: 1024px;
$desktop-m: 1280px;